@{
    string ControllerName = "Home";
    ViewBag.Root = "Home";
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h4 class="card-title">LAPORAN</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "submitForm" }))
                {
                    @Html.Hidden("dtPIBPeriodStart")
                    @Html.Hidden("dtPIBPeriodEnd")
                    <div class="row mt-0">
                        <div class="row col-lg-5">
                            <div class="col-lg-12">
                                <label class="mb-1">Jenis Laporan</label>
                                <div class="input-group">
                                    @Html.DropDownList("Reports", new SelectList(ViewBag.ReportList, "Value", "Text", "ReportA_get"), new { @class = "form-control select2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="row col-lg-6">
                            <div class="col-lg-5">
                                <label class="mb-1">Nomor</label>
                                <div class="input-group">
                                    <input type="text" id="NoPIB" name="NoPIB" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="row col-lg-6">
                            <div class="col-lg-5">
                                <label class="mb-1">Periode</label>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            @Html.CheckBox("chkPIBPeriod", true, new { @class = "form-check-input check-styled" })
                                        </div>
                                    </div>
                                    <input type="text" id="dtPIBPeriod" name="dtPIBPeriod" class="form-control daterangepicker-multidate text-center" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-check form-check-switchery mt-3">
                        <label class="form-check-label">
                            <input type="checkbox" id="Landscape" name="Landscape" class="form-check-input-switchery" value="true" />Landscape
                        </label>
                    </div>

                    <div class="mt-4">
                        <a href="javascript:void(0)" onclick="Print('Print','@ControllerName','true')" class="btn btn-primary"><i class="icon-printer2 mr-2"></i>Generate</a>

                        @if (LIBUtil.Util.getConfigVariable("showpdfbutton") == "1")
                        {
                            <a href="javascript:void(0)" onclick="Print('PrintToPdf','@ControllerName', 'false')" class="btn btn-danger"><i class="icon-file-pdf mr-2"></i>PDF</a>
                        }

                        <button type="submit" class="btn btn-success"><i class="icon-file-excel mr-2"></i>EXCEL</button>
                    </div>
                }
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {
        activateNavigationMenu('Home');

        setDateRangePickerStartDate('dtPIBPeriodStart', 'dtPIBPeriod');
        setDateRangePickerEndDate('dtPIBPeriodEnd', 'dtPIBPeriod');
    });

    function Print(action, controller, opennewwindow) {
        var url = '@Url.Action("__action", "__controller", new { Reports = "__data" })';
        url = url.replace("__action", action).replace("__controller", controller);
        url = url.replace("__data", getFilter());
        OpenWindow(url, opennewwindow);
    }

    function getFilter() {
        return $('#Reports').val()
                + "&chkPIBPeriod=" + $('#chkPIBPeriod').val()
                + "&dtPIBPeriodStart=" + $('#dtPIBPeriodStart').val()
                + "&dtPIBPeriodEnd=" + $('#dtPIBPeriodEnd').val()
                + "&Landscape=" + $('#Landscape').val()
            ;
    }

    function daterangepickerCallback(start, end, label) {
        $('#dtPIBPeriodStart').val(new Date(start).toDateString());
        $('#dtPIBPeriodEnd').val(new Date(end).toDateString());
    }

</script>

