@using System.Data
@model DataTable
@{
    Layout = null;

    List<int> dateColumns = new List<int>();
    List<int> intColumns = new List<int>();
    List<int> decimalColumns = new List<int>();
    string[] columnName;
    string datatype;
    if (Model != null && Model.Rows.Count > 0)
    {
        for (int i = 0; i < Model.Columns.Count - 1; i++)
        {
            columnName = Model.Columns[i].ColumnName.Split('_');
            datatype = columnName[0].ToLower();
            if(datatype != "string")
            {
                if (datatype == "date") { dateColumns.Add(i); }
                else if (datatype == "int") { intColumns.Add(i); }
                else if (datatype == "decimal") { decimalColumns.Add(i); }
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Html.Partial("Scripts")
</head>
<body>
    <div id="print-area" class="bg-white mb-0 py-0">
        <div style="page-break-after:always;display: block;clear: both;">

            <div class="row mt-3">
                <div class="col-sm-7">
                    <div>
                        <span style="font-size:16pt;font-weight:bold;">@ViewBag.Title</span>
                    </div>
                    <div>
                        <span style="font-size:10pt;">@Helper.COMPANYNAME</span>
                    </div>
                    <div>
                        <span style="font-size:10pt;">@ViewBag.Filter</span>
                    </div>

                    <table cellpadding="5" cellspacing="0" style="margin-top:10px;border-collapse: collapse;font-size:10pt;">
                        <thead style="border-bottom:1px solid black;">
                            <tr>
                                @if (Model != null)
                                {
                                    foreach (DataColumn column in Model.Columns)
                                    {
                                        <th>@column.ColumnName.Split('_')[1]</th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Rows.Count > 0)
                            {
                                foreach (DataRow row in Model.Rows)
                                {
                                    <tr style="border-bottom:1px solid lightgray;">
                                        @for (int i = 0; i < Model.Columns.Count; i++)
                                        {
                                            if (dateColumns.Contains(i))
                                            {
                                                <td>@string.Format("{0:dd/MM/yy}", row[i])</td>
                                            }
                                            else if (intColumns.Contains(i))
                                            {
                                                <td style="text-align:right;">@string.Format("{0:N0}", row[i])</td>
                                            }
                                            else if (decimalColumns.Contains(i))
                                            {
                                                <td style="text-align:right;">@string.Format("{0:N2}", row[i])</td>
                                            }
                                            else
                                            {
                                                <td style="word-wrap: break-word">@row[i].ToString()</td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

@Html.Partial("Javascripts")
